<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/" routerLinkActive="active">My WEG Gallery App</a>
    <ul class="navbar-nav ml-auto ">
      <ng-container  >
        <!--li class="nav-item ">
          <a class="nav-link"  routerLink="/gallery" routerLinkActive="active">Gallery</a>
        </li-->
        <li class="nav-item">
          <a class="nav-link" routerLink="/list" routerLinkActive="active">Lists</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/detail" routerLinkActive="active">Details</a>
        </li>
      </ng-container>
      <li class="nav-item">
        <a class="nav-link" routerLink="/add" routerLinkActive="active">New!</a>
      </li>
    </ul>

  </div>
</nav>

