<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/" routerLinkActive="active">My WEG Gallery App</a>
    <ul class="navbar-nav ml-auto ">
      <!--Ich habe ng container benutzt für spätere anwendung in Login logic-->
      <ng-container>
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active">Lists</a>
        </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/add" routerLinkActive="active">New!</a>
      </li>
      </ng-container>
    </ul>

  </div>
</nav>

