<div class="jumbotron">
  <h1 class="display-3">Registration Form:</h1>
  <p class="lead">This is a Form to register the new members. You can check your collaborations after logging in.</p>
  <hr class="my-4">
<form [formGroup]="newForm" (ngSubmit)="register()" autocomplete="off">
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="firstName">First name</label>
      <input type="text" class="form-control" id="firstName" placeholder="First name" formControlName="firstName" required>
    </div>
    <div class="col-md-4 mb-3">
      <label for="lastName">Last name</label>
      <input type="text" class="form-control" id="lastName" placeholder="Last name" formControlName="lastName" required>
    </div>
    <div class="col-md-4 mb-3">
      <label for="email">Email</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroupPrepend">@</span>
        </div>
        <input type="email" class="form-control" id="email" placeholder="email" formControlName="email" aria-describedby="inputGroupPrepend" required>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="city">City</label>
      <input type="text" class="form-control" id="city" placeholder="City" formControlName="city" required>
    </div>
    <div class="col-md-3 mb-3">
      <label for="country">Country</label>
      <input type="text" class="form-control" id="country" placeholder="State"  formControlName="country" required>
    </div>
    <div class="col-md-3 mb-3">
      <label for="zip">ZIP</label>
      <input type="text" class="form-control" id="zip" placeholder="Zip"  formControlName="zip" required>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="birthday">Birthday</label>
        <input type="date" class="form-control" id="birthday" placeholder=" Birthday" value="01.01.2000" formControlName="birthday" required>
    </div>
  </div>
  <br>
  <div class="form-group">
  <button class="btn btn-success" type="submit">Submit</button>
  </div>
</form>
</div>
