<div class="jumbotron">
  <h1 class="display-3">Hello, Members!</h1>
  <p class="lead">This is a list of the Gallery members , every member has at least five properties listed in <a class="text-info"
    routerLink="/detail">Detail site.</a> </p>
  <hr class="my-4">
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/add" role="button">Be a member!</a>
  </p>
  <ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center">
     Chahed
      <span class="badge badge-primary badge-pill">14 Collaborations</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Stefan
      <span class="badge badge-primary badge-pill">2 Collaborations</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Michaela
      <span class="badge badge-primary badge-pill">1 Collaborations</span>
    </li>
  </ul>
</div>


