<div class="jumbotron">
  <h1 class="display-3">Hello, Members!</h1>
  <p class="lead">This is a list of the Gallery members , every member has at least five properties listed in Detail site.</p>
  <hr class="my-4">
  <p class="lead">
    <a class="btn btn-primary btn-lg" routerLink="/add" role="button">Be a member!</a>
  </p>
  <mat-selection-list *ngFor="let member of members$ | async">
    <mat-list-option    (click)="getDetailes(member.id)">
      {{member.firstName}}
    </mat-list-option >
  </mat-selection-list>
</div>
