<table  class="table" *ngIf="member">
  <thead>
  <tr class="table-success">
    <th scope="col">Property Name</th>
    <th scope="col">Data type</th>
    <th scope="col">Default value</th>
    <th scope="col">Validation</th>
  </tr>
  </thead>
  <tbody>
  <tr class="table-danger">
    <th scope="row">First name</th>
    <td>text</td>
    <td>{{member.firstName}}</td>
    <td>required</td>
  </tr>
  <tr class="table-secondary">
    <th scope="row">Last name</th>
    <td>text</td>
    <td>{{member.lastName}}</td>
    <td>required</td>
  </tr>
  <tr class="table-primary">
    <th scope="row">Email</th>
    <td>email</td>
    <td>{{member.email}}</td>
    <td>required</td>
  </tr>
  <tr class="table-secondary">
    <th scope="row">City</th>
    <td>text</td>
    <td>{{member.city}}</td>
    <td>required</td>
  </tr>
  <tr class="table-success">
    <th scope="row">Country</th>
    <td>text</td>
    <td>{{member.country}}</td>
    <td>required</td>
  </tr>
  <tr class="table-danger">
    <th scope="row">ZIP</th>
    <td>text</td>
    <td>{{member.zip}}</td>
    <td>required</td>
  </tr>
  <tr class="table-warning">
    <th scope="row">Birthday</th>
    <td>Date</td>
    <td>{{member.birthday}}</td>
    <td>required</td>
  </tr>
  <tr class="table-success">
    <th scope="row">Password</th>
    <td>text</td>
    <td>{{member.password}}</td>
    <td>required</td>
  </tr>
  </tbody>
</table>
